@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('../assets/fonts/Chronicle-Display.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


body {
  font-family: 'Gilroy', sans-serif;
  background-color: #0b1d26;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Chronicle Display', sans-serif ;
}

.verybold {
  font-weight: 600;
}
